body, html {
  margin: 0;
  padding: 0;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.snap-section {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  text-align: center;
  font-family: Arial, sans-serif;
  background-size: auto 100%; /* Adjusts the image's height to always match the section's height */
  background-position: center center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

.snap-section h2 {
  margin: 0;
  padding: 20px 10px 10px 10px;
  background-color: black;
  color: white;
  text-align: left;
}

.snap-section .background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.snap-section .background video,
.snap-section .background img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100%;
  width: auto;
}
